.poster_wrapper {
    width: 900px;
    background: url("https://s3-alpha-sig.figma.com/img/ed60/0fa7/5801b7cb4ccd2f7293f8fc7e0ec6f4f1?Expires=1645401600&Signature=ALTYHSiD4oV-HfqKBeXH-fD1gxe3JYsMZaLBaAVDBzLjJX~LH9AEi-jVSLAB47WWsJZPLJ~EFeNO~2pOXEaHoGmcYKXsLB7LZi~3LELw1ALhUuiWU4~TLniz9FLUkUJ7YyT-AeQctIxUkVtVLY2REMueK8-I8Oz9IVQ0t6wSrUCh3WYdk19faaXdW0rUHxzT4DS1YEhchY2~P18K2pCJHgVlPM2oHpVtBJCbce93L9CiEllpD9wnJ0pWjf3UhY4FP6gJHfEVlamnIccHkRfd8D5JxgsFZgFuUzwex9GU0ZDXt9Ho188dxHByWHq5CqmWZ-vsAef2pMpQIheA3QcphQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA") 83% 70%;
    background-size: 150%;
}